<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf8mb4">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="Ian Stewart"/>
        <title><%= title %></title>
        <link href="/css/styles.css" rel="stylesheet" />
        <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Lato:400,300italic,300,400italic,700,700italic" rel='stylesheet' type='text/css'/>
    </head>
    <body>
        <!-- NAVIGATIE  -->
        <nav>
            <div id="menu-logo">
                <a href="/"><h1>ServerSideScripting</h1></a>
            </div>
            <ul>
                <li><a href="/" class="nav">home</a></li>
                <li><a href="/categories" class="nav">categories</a></li>
                <li><a href="/admin" class="nav">upload</a></li>
                <li><a href="/logout" class="nav">logout</a></li>
            </ul>
        </nav>
        <!-- HEADER !-->
        <main>