<%- include('./partials/head.ejs') %>

<h1>404 - I couldn't find the page you requested...</h1>
<p>Thanks for sending us your message. We will write back to you at <%- email %></p>
<p>go <a href="/">back</a> to home to continue browsing</p>

<%- include('./partials/foot.ejs') %>